@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

body {
  font-family: "Arial", sans-serif;
  margin: 0;
  background-color: #fafafa;
}

.navbar {
  background-color: #27272a;
  padding: 10px;
}

.nav-buttons {
  display: flex;
  align-items: center;
}

.nav-buttons img {
  max-height: 60px;
}

.nav-links-container {
  flex-grow: 1;
  display: flex;
  justify-content: right;
}

.language-container {
  flex-grow: 0.1;
  display: flex;
  justify-content: right;
}

.space {
  flex-grow: 1;
}

.nav-link {
  font-family: "Poppins", sans-serif;
  color: #fafafa;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.selected {
  background-color: #46464a;
}

.nav-link:hover {
  background-color: #46464a;
}

.budget-page {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
}

.budget-page h1 {
  margin: 0 auto;
  padding: 20px;
}

.chart-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 0;
}

.budget-list {
  border-collapse: collapse;
  margin-top: 20px;
  margin: 0 auto;
}

.budget-list thead {
  border: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.budget-list th,
.budget-list td {
  padding: 8px;
}

.budget-list tr {
  border: 1px solid black;
  height: 60px;
}

.budget-list th {
  background-color: #6cbaba;
}

.budget-list tbody tr:hover {
  background-color: #f5f5f5;
}

.budget-list-item:hover {
  background-color: #f3f3f3;
}

.budget-list-item {
  transition: background-color 0.3s ease-in-out;
}

.courseList {
  padding: 40px;
}

.card {
  display: flex;
  width: 100%;
  border: 1px solid #e4e4e7;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.card-body {
  display: flex;
}

.card img {
  max-width: 200px;
  max-height: 200px;
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 10px;
}

.content {
  padding: 16px;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.button,
input[type="submit"] {
  background-color: #6cbaba;
  transition: background-color 0.3s ease-in-out;
  border-radius: 8px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.detail-button {
  transition: background-color 0.3s ease-in-out;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  color: #6cbaba;
  cursor: pointer;
  border: #6cbaba solid 0.5px;
}

.detail-button:hover,
input[type="submit"]:hover {
  background-color: #dfe8e886;
}

.detail-button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #62adad9d;
}

.button:hover,
input[type="submit"]:hover {
  background-color: #62adad;
}

input,
textarea {
  border-radius: 15px;
}

.form-validation {
  color: #e8756d;
  padding: 7px;
}

.select {
  border-radius: 10px;
  background-color: white;
  border: 1px #e4e4e7 solid;
}

.button:disabled {
  cursor: not-allowed;
  pointer-events: none;
  background-color: #62adad9d;
}

.searchBar {
  width: 1000px;
}

.detail-link {
  transition: background-color 0.3s ease-in-out;
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  display: inline-block;
  color: #6cbaba;
  cursor: pointer;
  border: #6cbaba solid 0.5px;
}

.edit-button {
  color: #6cbaba;
}

label {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.containerDetail {
  display: flex;
  overflow: hidden;
}

.containerDetail h1,
.containerDetail p {
  max-width: 100%;
}

.detailBody {
  display: flex;
  flex-direction: column;
  width: 55%;
  padding: 16px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.imageContainer img {
  max-width: 200px;
  height: auto;
  padding: 10px;
  align-self: center;
}

.deelneemButton {
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  max-width: 300px;
  width: 150px;
  height: 36px;
  align-self: end;
  font-size: large;
}

.deelnemerList {
  padding: 16px;
  margin-top: 20px;
}

.search-input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-validation {
  height: 2em;
  padding: 2px 0px 0px 7px;
}

.profile-icon {
  width: 40px;
  min-width: 40px;
  border-radius: 50%;
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartDeleteIcon {
  transition: fill 120ms ease-in-out;
}

.cartDeleteIcon:hover {
  fill: #e84541;
}

.cart-dropdown-item:hover {
  background-color: #fafafa;
}

.cart-dropdown-item {
  transition: background-color 120ms ease-in-out;
}

.internal-day-input {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.info-popup {
  pointer-events: none;
}

.map-container {
  border-radius: 10px;
  overflow: hidden;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.expandButton {
  right: 328px;
}

.location-input {
  border-radius: 15px 0 0 15px;
}

.location-input-button {
  border-radius: 0 15px 15px 0;
  background-color: #f1f1f1;
  transition: background-color 150ms ease-in-out;
}

.location-input-button:hover {
  background-color: #dbdbdb;
}

.image-upload {
  background-color: rgb(238, 238, 238);
  border-radius: 15px;
}

.dropzone {
  border: 2px dashed #dfdfdf;
  border-radius: 15px;
  padding: 5px;
  cursor: pointer;
  color: #8a8a8a;
  background-color: #f1f1f1;
  transition: background-color 0.2s ease-in-out;
}

.dropzone:hover {
  background-color: #eeeeee;
}

.image-upload-preview {
  background-color: #ffffff96;
}

.imageDeleteIcon {
  transition: fill 120ms ease-in-out;
  color: gray;
}

.imageDeleteIcon:hover {
  fill: #c0322f;
}
